<div class="container-well mt-5 pt-5 mb-5 pb-5">
    <div class="container-well mt-5 pt-5 appName">
        DRIVE AI
    </div>
    <div class="container text-center appDesc">
        THE WAY IT'S MEANT TO BE DRIVEN
    </div>
</div>


<div class="container mt-5 pt-5 mb-5 pb-5">
    <div class="card-deck mt-5 pt-5 mb-3 pb-3">
        <div class="card">
            <img src="https://i.ibb.co/rbwf0Cy/drowsiness.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Drowsiness Detection</h5>
                <p class="card-text">Detects for any sign of drowsiness and sends an alert to warn the driver.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://i.ibb.co/QQCPrF7/expression.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mood Music</h5>
                <p class="card-text">Plays music based on the driver's mood or expression.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://i.ibb.co/5GK3mbF/vehicle.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Object Detection</h5>
                <p class="card-text">Detects nearby people and vehicles like car, bus, truck, bicycle, etc. and sends
                    an alert to warn the driver.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-well sticky-bottom mt-5 mb-1 pt-5 pb-1">
    <div class="container-well mb-2 pb-2">
        <ul class="container iconList">
            <li class="icon">
                <a href=""><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="icon">
                <a href=""><i class="fab fa-google"></i></a>
            </li>
            <li class="icon">
                <a href=""><i class="fab fa-twitter"></i></a>
            </li>
            <li class="icon">
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="icon">
                <a href=""><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
    <div class="container-fluid row ml-0 mr-0 pl-0 pr-0">
        <div class="col-4 container-well appNameSmall">
            DRIVE AI
        </div>
        <div class="col-8 container-well">
            <div class="container-well mt-1 pt-1 mb-1 pb-1 endText">
                Developed with <i class="fas fa-heart" style="color:red"></i> by the team
                members of MEAN Machines as part of hackNSUT-19. Feel free to reach out to us for any queries,
                suggestions or cool new ideas to improve the web application. Let's together
                steps towards better road safety and driving experience. Peace out!
            </div>
            <div class="container-well text-right teamName mt-2 pt-2">
                MEAN Machines<sup>©</sup>
            </div>
        </div>
    </div>
</div>