<nav class="navbar navbar-light sticky-top fixed-top">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <a routerLink="/dashboard" [class.activated]='currentUrl == "/dashboard"'>Profile</a>
    </li>
    <li class="nav-item">
      <a routerLink="engine" [class.activated]='currentUrl == "/dashboard/engine"'>Engine</a>
    </li>
    <li class="nav-item">
      <a routerLink="history" [class.activated]='currentUrl == "/dashboard/history"'>History</a>
    </li>
  </ul>
</nav>